In [2]:
import pandas as pd
df = pd.read_csv('../data/raw/dataset.csv')
df

,index,year,level,sport,winner,winner_metro,runner_up,runner_up_metro,final_four3,final_four3_metro,final_four4,final_four4_metro
0,1,1870,college,Football (M),Princeton Tigers,"Princeton, NJ",NaN,NaN,NaN,NaN,NaN,NaN
1,2,1870,college,Football (M),Rutgers Scarlet Knights,"New Brunswick, NJ",NaN,NaN,NaN,NaN,NaN,NaN
2,3,1871,college,Football (M),Princeton Tigers,"Princeton, NJ",NaN,NaN,NaN,NaN,NaN,NaN
3,4,1873,college,Football (M),Princeton Tigers,"Princeton, NJ",NaN,NaN,NaN,NaN,NaN,NaN
4,5,1874,college,Football (M),Princeton Tigers,"Princeton, NJ",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
991,1001,2018,college,Basketball (W),Notre Dame Fighting Irish,"Notre Dame, IN",Mississippi State Bulldogs,"Starkville, MS",Louisville Cardinals,"Louisville, KY",Connecticut Huskies,"Hartford, CT"
992,1002,2018,pro,NHL,Washington Capitals,"Washington, DC Metro Area",Vegas Golden Knights,"Las Vegas, NV",Winnipeg Jets,"Winnipeg, MB",Tampa Bay Lightning,"Tampa Bay Area, FL"
993,1003,2018,pro,NBA,Golden State Warriors,"San Francisco Bay Area, CA",Cleveland Cavaliers,"Cleveland, OH",Boston Celtics,"Greater Boston, MA",Houston Rockets,"Houston, TX"
994,1004,2018,college,Baseball (M),Oregon State Beavers,"Corvallis, OR",Arkansas Razorbacks,"Northwest Arkansas, AR",Mississippi State Bulldogs,"Starkville, MS",Florida Gators,"Gainesville, FL"
995,1005,2018,pro,MLB,Boston Red Sox,"Greater Boston, MA",Los Angeles Dodgers,"Greater Los Angeles, CA",Houston Astros,"Houston, TX",Milwaukee Brewers,"Milwaukee, WI"